<% if recipe.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= pluralize(recipe.errors.count, "errors") %></h4>
    <p><%= pluralize(recipe.errors.count, "errors") %> prohibited this object from being saved: not successfully</p>
    <hr>
    <p class="mb-0">
      <% recipe.errors.full_messages.each do |massage| %>
        <li><%= massage %></li>
      <% end %>
    </p>
  </div>
<% end %>
